.Project {
    position: relative;
    text-align: center;
    color: white;
}

.Project > .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Project > .bottom-centered {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hideText {
    visibility: hidden;
    opacity: 0;
}

.Project > * a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px red;
    font-size: larger;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.Project > img.sparkle {
    border: none;
    box-shadow: none;
    position: absolute;
}

.Project > img {
    border: 5px solid;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transition: filter .5s;
    transition-timing-function: ease-in-out;
    border-radius: 30px;
}

.Project > h1 {
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.Project > .darkImage {
    filter: brightness(50%);
}

.sparkle-border-0 {
    top: 5%;
    left: -5%;
}

.sparkle-border-1 {
    bottom: 75%;
    right: 50%;
}

.sparkle-border-2 {
    bottom: 75%;
    left: 10%;
}

.sparkle-border-3 {
    bottom: 75%;
    right: 0%;
}

.sparkle-border-4 {
    bottom: 15%;
    right: -5%;
}

.sparkle-border-5 {
    bottom: -5%;
    right: 20%;
}

.sparkle-border-6 {
    bottom: -5%;
    left: 10%;
}
