.About {
    max-width: 768px;
    margin: auto;
}

.About > * img {
    border: 5px solid;
    box-shadow: 10px 10px #45FFC7;
}

.About > * p {
    font-weight: 400;
    font-style: italic;
    font-size: 160%;
}